body {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    background-color: #1F2937;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 300px;
    padding-right: 300px;
    background-color: #1F2937;
    padding-top: 20px;
    
}

.header-logo {
    font-size: 24px;
    font-weight: 900;
    color: #f9faf8;
}

ul {
    display: flex;
    list-style: none;
    margin: 0px;
    padding: 0px;
    gap: 16px;
    font-size: 18px;
    color: #E5E7EB;
}

.cont1 {
    display: flex;
    padding-left: 300px;
    padding-right: 300px;
    background-color: #1F2937;
    padding-top: 120px;
    padding-bottom: 90px;
}

.cont1-nest1 {
    display: flex;
    justify-content: space-between;
    flex: 1;
    gap: 50px;
    padding-right: 50px;
}

#g1 {
    max-width: 600px;
}

#hero-text {
    font-size: 48px;
    font-weight: 1500;
    color: #f9faf8;
}

#hero-secondary {
    font-size: 18px;
    color: #E5E7EB;
}

#cont-1-signup {
    background-color: #3882f6;
    border-radius: 5px;
    margin-top: 10px;
    width: 120px;
    height: 30px;
    color: #f9faf8;
    border: none;
    font-size: 18px;
}

.cont2 {
    background-color: white;
    text-align: center;
    padding-top: 20px;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 1.00px;
}

.cont2-header {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.cont2-nest {
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 80px;
}

.info {
    padding-top: 50px;
    max-width: 200px;
    
}

#carrot,
#water,
#pellets,
#hay {
    max-width: 200px;
    border: 5px solid #3882f6;
    border-radius: 7px;

}

.cont3 {
    background-color: #e5e7eb;
    padding-left: 400px;
    padding-right: 400px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.quote-content {
    font-size: 36px;
    color: #1F2937;
    font-weight: 100;
    font-style: italic;
}

.quote-author {
    font-weight: bold;
    text-align: end;
    padding-top: 20px;
}

.cont4 {
    background-color: white;
    
}

.cont4-nest1 {
    background-color: #3882f6;
    margin: 70px;
    padding: 40px;
    margin-left: 300px;
    margin-right: 300px;
    color: white;
    border-radius: 7px;
}

.cont4-nest2 {
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
    justify-content: space-between;
    align-items: center;
}

.cont4-nest3-header {
    font-size: 20px;
    font-weight: bold;
}

#signup-cont4 {
    background-color: #3882f6;
    border-color: white;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border-radius: 7px;
    width: 120px;
    height: 35px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 40px;
}