body {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 300px;
    padding-right: 300px;
    background-color: #1F2937;
    
}

.header-logo {
    font-size: 24px;
    font-weight: 900;
    color: #f9faf8;
}

ul {
    display: flex;
    list-style: none;
    margin: 0px;
    padding: 0px;
    gap: 16px;
    font-size: 18px;
    color: #E5E7EB;
}

.cont1 {
    display: flex;
    padding-left: 300px;
    padding-right: 300px;
}

.cont1-nest1 {
    display: flex;
    justify-content: space-between;
}

#g1 {
    width: 300px;
}
